/*
* Author: Adnan Ali
* Challenge: Admoriis Todo
* Date: 16.02.2022 09:00 AM
*/


/* Include Fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Apply this style for every element */
* 
{
	margin: 0;
	padding: 0;
	font-family: 'Kumbh Sans', sans-serif;
}

/* Base style for body */
body
{
	background-color: #FFF;
}

/* Start Base Style for HTML Elements */
p
{
	font-size: 16px;
	color: hsl(219, 9%, 45%);
}

/* End Base Style for HTML Elements */

/* Start Base Style for static classes */

	/* Start main container */
	.container 
	{
		width: 1440px;
		margin: 0 auto;
	}
	/* End main container */

	/* Start colors classes */
	.bg-primary
	{
		background-color: hsl(26, 100%, 55%) !important;
	}
	.bg-soft-primary
	{
		background-color: hsl(29deg 88% 94%) !important;
	}
	.text-primary
	{
		color: hsl(26, 100%, 55%) !important;
	}
	.bg-pale-orange
	{
		background-color: hsl(25, 100%, 94%) !important;
	}
	.text-pale-orange
	{
		color: hsl(25, 100%, 94%) !important;
	}

	.text-white
	{
		color: #FFF !important;
	}
	/* End colors classes */


	/* Start Flex classes */
	.flex
	{
		display:  flex !important;
	}
	.align-items-center
	{
		align-items: center !important;
	}
	.justify-content-center
	{
		justify-content: center !important;
	}
	.justify-content-between
	{
		justify-content: space-between !important;
	}
	/* End Flex classes */

	/* Start Grid classes */
	.row
	{
		display: grid !important;
	}
	.row-2
	{
		grid-template-columns: repeat(2, 1fr);
    	grid-auto-rows: minmax(0, auto);  
	}
	.grid-gap
	{
		grid-gap: 2em;
	}
	/* End Grid classes */

	.disabled-btn 
	{
	    opacity: .5;
	    cursor: no-drop;
	}

/* End Base Style for static classes */


.mobile-menu-icon, .close-menu, .product-images .primary .next, .product-images .primary .prev
{
	display: none;
}



/* Start Header Section */
.header
{
	width: 100%;
}
.main-header
{
	/*padding: 2rem 0;*/
	border-bottom: 1px solid hsl(223deg 37% 94%);
}

.main-header .logo
{
	margin-right: 3rem;
}
.main-header .header-menu
{
	margin-top: 1rem;
	height: 39px;
}
.main-header .header-menu ul
{
	list-style: none;
	display: flex;
	height: 100%;
}


.main-header .header-menu ul li a
{
	text-decoration: none;
	margin-right: 1.5rem;
	color: hsl(219, 9%, 45%);
	transition: color .15s ease-in-out;
	border-bottom: 2px solid transparent;
	height: 100%;
	display: block;
}
.main-header .header-menu ul li a:hover
{
	color: black;
	border-color: hsl(26, 100%, 55%);
}
.close-menu
{
	display: none !important;
}

.main-header .user-header .static-image
{
	width: 45px;
	height: 45px;
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid transparent;
}
.main-header .cart-header
{
	position: relative;
}
.main-header .cart-header .items {
    position: absolute;
    width: 350px;
    background: white;
    height: auto;
    /*padding: 1rem;*/
    top: 36px;
    transform: translateX(-50%);
    box-shadow: 0 1px 3px 0px rgb(0 0 0 / 22%);
    border-radius: 7px;
}
.main-header .cart-header .items .checkout-btn 
{
	padding: 1rem;
}
.main-header .cart-header .items .checkout-btn button
{
	width: 100%;
	display: block;
	border: none;
	outline: none;
	border-radius: 10px;
	padding:  1rem;
	cursor: pointer;
}

.main-header .cart-header .items .title
{
	border-bottom: 1px solid hsl(223, 64%, 98%);
	padding: 1rem;
	font-weight: 700;
	color: black;
}
.main-header .cart-header .items .list .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.main-header .cart-header .items .list .item img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 10px;
}
.main-header .cart-header .items .list .item .details .price
{
	color: black;
	font-weight: 700;
}

.main-header .cart-header .items .list .item .action-remove
{
	cursor: pointer;
}


.main-header .cart-header .items .empty
{
	text-align: center;
    margin: 4rem 0;
}
.main-header .cart-header .icon
{
	position: relative;
	margin-right: 2rem;
	cursor: pointer;
}
.main-header .cart-header .icon .total-items
{
	border-radius: 10px;
	text-align: center;
	font-size: 12px;
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 1px 8px;
	/*min-width: 30px;*/
}
/* End Header Section */



/* Start Hero Section */

.product-hero
{
	margin-top: 5rem;
}


.product-hero .product-images
{
	width: 70%;
	margin: 0 auto;
}
.product-hero .product-images img {
    border-radius: 11px;
    object-fit: cover;
    cursor: pointer;
    opacity: 1;
    transition: opacity .15s ease-in-out ;
}
.product-hero .product-images img:hover
{
	opacity: .7;
}

.product-hero .product-images .primary {
    width: 100%;
    height: 400px;
}
.product-hero .product-images .primary img {
    width: 100%;
    height: 100%;
}

.product-hero .product-images .thumbnails 
{
	width: 100%;
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: minmax(0, auto);
    grid-gap: 1rem;
}
.product-hero .product-images .thumbnails 
{
	margin-top: 1rem;
}
.product-hero .product-images .thumbnails div
{
	border: 2px solid transparent;
	width: 110px !important;
    height: 110px !important;
}
.product-hero .product-images .thumbnails img
{
	width: 100%;
	height: 100%;
}
.product-hero .product-images .thumbnails .current
{
	border: 2px solid hsl(26, 100%, 55%);
	border-radius: 11px;
}
.product-hero .product-images .thumbnails .current img
{
	opacity: .5;
	object-fit: 100%;
}


.product-hero .product-details 
{
	width: 75%;
}
.product-hero .product-details .mini-title
{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
}
.product-hero .product-details .title
{
	font-weight: 700;
	font-size: 2.75rem;
	margin-top: 1rem;
}

.product-hero .product-details .description,
.product-hero .product-details .price-container
{
	margin: 2rem 0;
}

.product-hero .product-details .price-container
{

}
.product-hero .product-details .price-container .price
{
	display: flex;
	align-items: center;
}
.product-hero .product-details .price-container .price h1
{
	font-size: 2rem;
	color: black;
	font-weight: 700;
}
.product-hero .product-details .price-container .price .sale-badge
{
	margin-left: 2rem;
	padding: 2px 8px;
	text-align: center;
	border-radius: 4px;
	font-weight: 700;
}
.product-hero .product-details .price-container .original-price {
    display: block;
    text-decoration: line-through;
    margin-top: 0.5rem;
    font-weight: 700;
    color: hsl(220, 14%, 75%);
}


.product-hero .product-details .add-to-cart
{

}
.product-hero .product-details .add-to-cart .counter {
    /*background-color: hsl(252deg 45% 98%);*/
    background-color: hsl(223, 64%, 98%);
    width: 35%;
    padding: 15px;
    border-radius: 4px;
    /*box-shadow: 0 1px 1px hsl(220, 14%, 75%);*/
}
.product-hero .product-details .add-to-cart .counter input
{
	background: none;
	border: none;
	outline: none;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	width: 100%;
	padding-left: 5px;
}
.product-hero .product-details .add-to-cart .counter .plus,
.product-hero .product-details .add-to-cart .counter .minus
{
	cursor: pointer;
}
.product-hero .product-details .add-to-cart .counter .minus
{
	margin-bottom: 2px;
}



.product-hero .product-details .add-to-cart .cart-btn {
    padding: 15px;
    outline: none;
    border: none;
    margin-left: 2rem;
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff7d1a;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.product-hero .product-details .add-to-cart .cart-btn svg
{
	fill: #fff;
	margin-right: 1rem;
}

/* End Hero Section */









/* Start Gallery Modal */
.gallery {
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.gallery .gallery-container {
    width: 500px;
    height: 600px;
    /*overflow: hidden;*/
    position: relative;
}

.gallery .gallery-container .close {
    text-align: right;
    margin-bottom: 1rem;
    cursor: pointer;
}


.gallery .gallery-container .primary
{
	width: 100%;
	height: 400px;
	position: relative;
}
.gallery .gallery-container .primary img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 11px;
}



.gallery .gallery-container .primary .prev,
.gallery .gallery-container .primary .next
{
    position: absolute;
    transform: translate(-50%,0);
    background: #FFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.gallery .gallery-container .primary .prev svg
{
    width: 16px;
}
.gallery .gallery-container .primary .prev 
{
	top: 50%;
    left: 0;
}
.gallery .gallery-container .primary .next {
    top: 50%;
    right: -50px;
}
.gallery .gallery-container .thumbnails {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: minmax(0, auto);
    grid-gap: 1rem;
    margin-top:1rem;
}
.gallery .gallery-container .thumbnails div
{
	width: 110px;
	height: 110px;
	border: 2px solid transparent;
	border-radius: 11px;
	overflow: hidden;
	cursor: pointer;
}
.gallery .gallery-container .thumbnails .current
{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 11px;	
}
.gallery .gallery-container .thumbnails .current img
{
	opacity: .5;
}
.gallery .gallery-container .thumbnails img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	/*border-radius: 11px;*/
}
/* End Gallery Modal */











/* Start mobile layout */
@media only screen and (max-width: 768px) {
	.main-header, .product-images, .product-details, .product-hero .product-details .add-to-cart .counter
	{
		width: 100% !important;
	}
	.product-hero
	{
		margin: 0 0 1rem 0;
	}	

	.container
	{
		width: 90%;
	}
	.main-header
	{
		border: none;
		/*padding: 1rem 0;*/
	}

	.header .header-menu
	{
		position: fixed;
		background-color: #fff;
		top: 0;
		left: -100%;
		width: 50%;
		height: 100%;
		z-index: 1;
		/*display: none;*/
	}
	.header .header-menu ul, .product-hero .product-details .add-to-cart {
	    flex-direction: column;
	}

	.header .header-menu ul li {
	    padding: 1rem 1rem 1rem 2rem;
	}
	.header .header-menu ul .close-menu
	{
		margin-top: 1rem;
	    margin-bottom: 3rem;
	}
	.header .header-menu ul li a
	{
		font-weight: 700;
		color: black;
	}
	.row-2 {
	    grid-template-columns: repeat(1, 1fr);
	    grid-auto-rows: minmax(0, auto);
	}

	.mobile-menu-icon, .close-menu
	{
	    display: block;
	}
	.mobile-menu-icon {
	    margin-right: 1rem;
	}

	.product-hero .product-images .thumbnails
	{
		display: none;
	}
	.product-hero .product-images .primary
	{
		height: 270px;
	}
	.product-hero .product-details .add-to-cart .counter
	{
		margin-bottom: 1rem;
		padding-left: 0;
		padding-right: 0;
	}
	.product-hero .product-details .add-to-cart .counter .minus,
	.product-hero .product-details .add-to-cart .counter .plus
	{
		padding: 0 1rem;
	}
	.product-hero .product-details .add-to-cart .cart-btn
	{
		margin: unset;
	}

	.product-images .primary
	{
		position: relative;
	}
	.product-images .primary .prev,
	.product-images .primary .next
	{
	    position: absolute;
	    transform: translate(-50%,0);
	    background: #FFF;
	    width: 50px;
	    height: 50px;
	    border-radius: 50%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    cursor: pointer;
	}
	.product-images .primary .prev svg
	{
	    width: 16px;
	}
	.product-images .primary .prev 
	{
		top: 50%;
	    left: 40px;
	}
	.product-images .primary .next {
	    top: 50%;
	    right: -10px;
	}	
	.product-hero .product-details .price-container
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.product-hero .product-details .price-container .original-price
	{
		font-size: 1.2rem;
	}
	.main-header .user-header .static-image
	{
		width: 30px;
		height: 30px;
	}
	.main-header .cart-header
	{
		position: unset;
	}
	.main-header
	{
		padding: 1rem 0;
	}
	.close-menu
	{
		display: block !important;
	}

	.main-header .cart-header .items
	{
		display: block;
	    left: 0;
	    top: 80px;
	    transform: translate(5%,0%);
	    width: 90%;
	    z-index: 1;

	}

}
/* End mobile layout */